name: inngage_plugin
description: The inngage plugin to flutter apps.
version: 2.0.4
homepage: https://inngage.com.br

environment:
  sdk: ">=2.18.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  #Android and iOS getters to get platform-specific device information
  device_info: ^2.0.3
    #Firebase
  firebase_core: ^1.22.0
  firebase_messaging: ^13.0.2
  firebase_in_app_messaging: ^0.6.0+24
  #localNotificaiton
  flutter_local_notifications: ^11.0.0 
  # Launch external URLs
  url_launcher: ^6.1.5
  # webview
  #flutter_webview_plugin: 0.3.10+1
  webview_flutter: ^3.0.4
  #Locale
  devicelocale: 0.5.0
  #version
  package_info: ^2.0.2
  advertising_id: ^2.3.0
  meta: ^1.7.0
  http: ^0.13.4
  logger: ^1.1.0
  flutter_image_slideshow: ^0.1.2
  shared_preferences: ^2.0.15
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # This section identifies this Flutter project as a plugin project.
  # The 'pluginClass' and Android 'package' identifiers should not ordinarily
  # be modified. They are used by the tooling to maintain consistency when
  # adding or updating assets for this project.
  plugin: 
    platforms:
      android:
        package: com.inngage_plugin
        pluginClass: InngagePlugin
      ios:
        pluginClass: InngagePlugin

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
