name: inngage_plugin
description: Inngage Plugin for Flutter applications for marketing campaign optimization using Push Notification and In App Messages channels.
version: 3.7.3
homepage: https://inngage.com.br

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  
  # android and iOS getters to get platform-specific device information
  device_info_plus: ^10.1.2
  
  # firebase
  firebase_core: ^4.2.1
  firebase_analytics: ^12.0.4
  firebase_messaging: ^16.0.4

  # localNotificaiton
  flutter_local_notifications: ^18.0.1

  # launch external URLs
  url_launcher: ^6.3.1

  # webview
  webview_flutter: ^4.8.0

  # locale
  devicelocale: ^0.8.0

  # geolocation
  geolocator: ^12.0.0

  # version
  uuid: ^4.5.1
  shared_preferences: ^2.3.2
  package_info_plus: ^8.0.2
  advertising_id: ^2.6.0
  meta: ^1.12.0
  http: ^1.2.1
  logger: ^2.3.0
  flutter_image_slideshow: ^0.1.6
  flutter_secure_storage: ^9.2.2
  win32: ^5.10.0
  

dev_dependencies:
  mockito: ^5.4.4
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin: 
    platforms:
      android:
        package: com.inngage_plugin
        pluginClass: InngagePlugin
      ios:
        pluginClass: InngagePlugin

false_secrets:
  - example/ios/Runner/GoogleService-Info.plist
  - example/android/app/google-services.json
  - example/lib/firebase_options.dart
