name: inngage_plugin
description: Inngage Plugin for Flutter applications for marketing campaign optimization using Push Notification and In App Messages channels.
version: 3.4.0
homepage: https://inngage.com.br

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  
  # android and iOS getters to get platform-specific device information
  device_info: ^2.0.3
  device_info_plus: ">=8.1.0 <10.0.0"
  
  # firebase
  firebase_core: ^3.1.0
  firebase_analytics: ^11.1.0
  firebase_messaging: ^15.0.1

  # localNotificaiton
  flutter_local_notifications: ^17.1.2 

  # launch external URLs
  url_launcher: ^6.3.0

  # webview
  webview_flutter: ^4.8.0

  # locale
  devicelocale: ^0.7.1

  # geolocation
  geolocator: ^12.0.0

  # version
  package_info: ^2.0.2
  advertising_id: ^2.6.0
  meta: ^1.12.0
  http: ^1.2.1
  logger: ^2.3.0
  flutter_image_slideshow: ^0.1.6
  flutter_secure_storage: ^9.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin: 
    platforms:
      android:
        package: com.inngage_plugin
        pluginClass: InngagePlugin
      ios:
        pluginClass: InngagePlugin
