<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701688331884-drt09ajukssnad7lmkto3m95idod3e3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701688331884-drt09ajukssnad7lmkto3m95idod3e3g</string>
	<key>API_KEY</key>
	<string>AIzaSyA4pkFufNS6usiVdObdFNXWVf9yUhM8NdE</string>
	<key>GCM_SENDER_ID</key>
	<string>701688331884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inngagePluginExample</string>
	<key>PROJECT_ID</key>
	<string>inngage-37f4c</string>
	<key>STORAGE_BUCKET</key>
	<string>inngage-37f4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701688331884:ios:e101d2327a1b2634886249</string>
	<key>DATABASE_URL</key>
	<string>https://inngage-37f4c.firebaseio.com</string>
</dict>
</plist>